body {
    min-width: 960px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 40px;
}

p {
    margin: 0;
}

.main-headline {
    text-align: center;
}

.headline {
    text-align: center;
    font-size: 3rem;
}

.input-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    margin-bottom: 30px;
}

.input-field {
    position: relative;
}

.textarea-field {
    display: flex;
    flex-direction: column;
}

.btn-submit {
    margin-top: 20px;
}

.collection-item span {
    margin-top: calc(.75rem - 5px);
}

.collection-item span.badge {
    margin-top: calc(.75rem - 7px);
}

.collection-item {
    display: flex;
    flex-direction: column;
}

.lists-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    padding-bottom: 20px;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.task-item {
    display: grid;
    grid-template-columns: 2fr auto;
}

.card-item {
    padding-top: 10px;
    width: 100%;
}

div.card-panel {
    margin: 0;
}

.display-none {
    display: none;
}

.hold,
.hovered {
    border: 2px solid #2bbbad;
}

.text-span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    margin-bottom: 10px;
}

.bold {
    font-weight: 600;
}

.date {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.more-button {
    margin-right: 5px;
}

.collection .collection-item.active {
    background-color: white;
    color: rgba(0,0,0,0.87);
}

.collapsible-body {
    border-bottom: none;
    padding: 1rem;
}

.btns-container {
    display: flex;
}

.collapsible-header {
    display: inline-block;
    line-height: 1.5;
    padding: 8px 16px;
    text-align: center;
    background-color: #2bbbad;
    border-bottom: none;
}

.item-border {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.none-shadow {
    box-shadow: none;
    -webkit-box-shadow: none; 
}

.clear-input-btn {
    position: absolute;
    right: 10px;
    top: 0;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.clear-input-btn:focus,
.clear-input-btn:hover {
    outline: none;
    background-color: transparent;
}

.clear-input-btn::before, 
.clear-input-btn::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 22px;
    width: 1px;
    background-color: #2bbbad;
}

.clear-input-btn:hover::before, 
.clear-input-btn:hover::after {
    width: 2px;
}

.clear-input-btn::before {
    transform: rotate(45deg);
}

.clear-input-btn::after {
    transform: rotate(-45deg);
}


.modal {
    display: flex;
    flex-direction: column;
    
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
    
    width: 30%;
    margin: 0;
}

.modal-text {
    padding: 40px 50px;
    text-align: center;
}





